
@import "https://www.w3schools.com/w3css/4/w3.css";

body{
    background-color: #ffe6b3;
    
    
    
}
.header .person_info .sound{
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/Speaker_Icon.svg/600px-Speaker_Icon.svg.png");
	background-repeat: no-repeat;
	background-size: 50px;

}

.special#special1{
    
}
.day-box{
    padding: 10px;
    margin: 10px;

}
h1{
    position: relative;
    left: 45%;
    
}
.day-box{
    padding: 10px;
    margin: 10px;

}
h1{
    position: relative;
    left: 45%;
    
}

div.day{
    padding: 5px;
    font-weight: bold;
    font-size: large;
}
    
.PREP{
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgb(0,0,200,.8);
    border-bottom-color: rgb(0,0,200,.8);
    overflow:auto;
}

.PREP .day{
    float: left;
    padding: 5px;
    clear: both;
}

.PREP .reading-box{
    float: left;
    width: 75%;
    clear: both;
    padding: 10px;
    border: 2px solid rgb(30, 144,255);
    border-radius: 15px;
    background-color: antiquewhite;
    font-size: large;
    font-family: sans-serif;
}

.PREP .reading-box:empty{
    display: none;
}

//.PREP .prep-box{
    float: left;
    width: 75%;
    clear: both;
    padding: 10px;
    border: 2px solid rgb(30, 144,255);
    border-radius: 15px;
    background-color: antiquewhite;
    font-size: large;
    font-family: sans-serif;
}

.PREP .prep-box:empty{
    display: none;
}

.COMPLETED:nth-child(2n) .lab-box{
    float: left;
    width: 75%;
    clear: both;
    padding: 10px;
    border: 2px solid rgb(30, 144,255);
    border-radius: 15px;
    background-color: antiquewhite;
    font-size: large;
    font-family: sans-serif;
    margin-bottom: 10px;
}

.CURRENT{
    clear: both;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgb(0,0,200,.8);
    border-bottom-color: rgb(0,0,200,.8);
    overflow:auto;
}
  
.CURRENT .day{
    float: right;
    clear: both;
    padding: 5px;
}

.CURRENT .reading-box{
    float: right;
    width: 75%;
    clear: both;
    border: 2px solid antiquewhite;
    background-color: rgb(30,144,255,0.75);
    padding: 10px;
    border-radius: 15px;
    font-size: large;
    font-family: sans-serif;
}

.CURRENT .reading-box:empty{
    display: none;
}

//.CURRENT .prep-box{
    float: right;
    width: 75%;
    clear: both;
    border: 2px solid antiquewhite;
    background-color: rgb(30,144,255,0.75);
    padding: 10px;
    border-radius: 15px;
    font-size: large;
    font-family: sans-serif;
}
.CURRENT .prep-box:empty{
    display: none;
}

.CURRENT .lab-box{
    float: right;
    width: 75%;
    clear: both;
    border: 2px solid antiquewhite;
    background-color: rgb(30,144,255,0.75);
    padding: 10px;
    border-radius: 15px;
    font-size: large;
    font-family: sans-serif;
    margin-bottom: 10px;
}


.CURRENT .lab-box:empty{
    display: none;
}


.COMPLETED:nth-child(2n){
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgb(0,0,200,.8);
    border-bottom-color: rgb(0,0,200,.8);
    overflow:auto;
}

.COMPLETED:nth-child(2n) .day{
    float: left;
    clear: both;
    padding: 5px;
}

.COMPLETED:nth-child(2n) .reading-box{
    float: left;
    width: 75%;
    clear: both;
    padding: 10px;
    border: 2px solid rgb(30, 144,255);
    border-radius: 15px;
    background-color: antiquewhite;
    font-size: large;
    font-family: sans-serif;
}

.COMPLETED:nth-child(2n) .reading-box:empty{
    display: none;
}

.COMPLETED:nth-child(2n) .prep-box{
    float: left;
    width: 75%;
    clear: both;
    padding: 10px;
    border: 2px solid rgb(30, 144,255);
    border-radius: 15px;
    background-color: antiquewhite;
    font-size: large;
    font-family: sans-serif;
}

.COMPLETED:nth-child(2n) .prep-box:empty{
    display: none;
}

.COMPLETED:nth-child(2n) .lab-box{
    float: left;
    width: 75%;
    clear: both;
    padding: 10px;
    border: 2px solid rgb(30, 144,255);
    border-radius: 15px;
    background-color: antiquewhite;
    font-size: large;
    font-family: sans-serif;
    margin-bottom: 10px;
}

.COMPLETED:nth-child(2n) .lab-box:empty{
    display: none;
}

.COMPLETED:nth-child(2n+1){
    clear: both;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgb(0,0,200,.8);
    height: 185px;
    border-bottom-color: rgb(0,0,200,.8);
    overflow: auto;
}

.COMPLETED:nth-child(2n+1) .day{
    float: right;
    clear: both;
    padding: 5px;
}

.COMPLETED:nth-child(2n+1) .reading-box{
    float: right;
    width: 75%;
    clear: both;
    border: 2px solid antiquewhite;
    background-color: rgb(30,144,255,0.75);
    padding: 10px;
    border-radius: 15px;
    font-size: large;
    font-family: sans-serif;
}

.COMPLETED:nth-child(2n+1) .reading-box:empty{
    display: none;
}

.COMPLETED:nth-child(2n+1) .prep-box{
    float: right;
    width: 75%;
    clear: both;
    border: 2px solid antiquewhite;
    background-color: rgb(30,144,255,0.75);
    padding: 10px;
    border-radius: 15px;
    font-size: large;
    font-family: sans-serif;
}

.COMPLETED:nth-child(2n+1) .prep-box:empty{
    display: none;
}

.COMPLETED:nth-child(2n+1) .lab-box{
    float: right;
    width: 75%;
    clear: both;
    border: 2px solid antiquewhite;
    background-color: rgb(30,144,255,0.75);
    padding: 10px;
    border-radius: 15px;
    font-size: large;
    font-family: sans-serif;
    margin-bottom: 10px;
}

.COMPLETED:nth-child(2n+1) .lab-box:empty{
    display: none;
}



div.day-box{
    clear:both;
}






















.header .nav{ 
    font-size: 30px;
    word-spacing: 30px;
    font-family: 'Monsterrat';
    background-image: url("https://www.shareicon.net/data/2016/12/12/862833_close_512x512.png"), url("https://tse2.mm.bing.net/th?id=OIP.Iqo2Kv7fe0hLz2eNgdBnjQHaHa&pid=Api&P=0&w=300&h=300"), url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/Tokyoship_Home_icon.svg/1024px-Tokyoship_Home_icon.svg.png"), url("https://cdn3.iconfinder.com/data/icons/blog-and-social-media-icons/512/Group_of_People-512.png"), url("https://cdn3.iconfinder.com/data/icons/aviation-2/500/Aviation_start_sprint-512.png"), url("https://image.freepik.com/free-icon/book-opened-symbol_318-56725.jpg"), url("https://cdn0.iconfinder.com/data/icons/education-15/500/result-512.png");
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: 3% 50%, 15% 50%, 25% 50%, 35% 50%, 47% 50%, 57% 50%, 65% 50%;
    background-size: 50px, 50px, 50px, 50px, 50px, 50px, 50px;
  
    
   

}
.header .person_info img{
    padding: 10px;
    width: 15%;
    height: 15%;
}
    


.header .person_info span.username{
    position: relative;
    top: -100px;
    left: 18%;
    font-size: 24px;
    padding: 10px;
    border: 7px solid rebeccapurple;
    font-family: 'Monsterrat';
} 

body table tbody img{
    border: 3px solid indianred;
    padding 2px;
    height: 15%;
    width: 15%;

}
table{
    border: 3px solid indianred;
    padding 2px;
}


.header .partners .person_info a{
    border: 10px solid rebeccapurple;
    padding: 2px;
}
.header .partners .person_info a:hover, .header .partners .person_info a:active{
font-size: 150%;
    color: red;
    
}
  
.header .nav a:hover, .header .nav a:active {
	font-size: 150%;
	color: red;
	}
.header .nav a:nth-child(1){
opacity: 0;
}
.header .nav a:nth-child(2){
opacity: 0;
}
.header .nav a:nth-child(3){
opacity: 0;
}
.header .nav a:nth-child(4){
opacity: 0;
}.header .nav a:nth-child(5){
opacity: 0;
}
.header .nav a:nth-child(6){
opacity: 0;
}
.header .nav a:nth-child(7){
opacity: 0;
}

.account_form{
	padding: 10px;
	border: 3px solid red;

}
.account_form img{
	position: relative;
	top: 10%;
	left: 0%; 
	width: 15%;
	height: 15%;
}

.special#special1{
	background-image: url("https://upload.wikimedia.org/wikipedia/en/6/61/Centrecollegeseal.png");
	background-repeat: no-repeat;
	position: relative;
	display: block;
	background-size: 100px;
}

body{
	animation:animatezoom 0.6s;
	
}

